<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<!--   <link rel="shortcut icon" href="/static/favicon.ico" />
 -->  <title>Venezuelan Crosswords</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=no">

  <link href="/crosswords/static/css/bootstrap.min.css?v=foo1" rel="stylesheet">
  <style>
  @media (min-width: 768px) {
    .modal .modal-xl {
      width: 90%;
      max-width:1200px;
    }
  }
  .btn-grayed-out {
    background-color: #777777;
  }
  </style>

  <body>

  <script>
    var Globals = {
      gameRepr: <%=
        if @game != %{} do
          Phoenix.HTML.raw Poison.encode! @game.repr
        else
          Phoenix.HTML.raw '{"version": 1, "turns": [], "players": []}'
        end %>,
      viewMode: '<%= @viewMode %>' || '',
      gameID: '<%= @gameID %>' || '',
    };

  </script>

  <div id="main-app-content"></div>

  <!-- replace with templates or something -->
  <script src="http://localhost:7001/static/dist/crosswordapp.js?v=foo1"></script>

</body>
</html>
